{% extends "index.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.msg_id.label }}
            {{ form.msg_id(size=18) }}
            {% for error in form.msg_id.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {# тут будет поле для указания длинны цепочки сообщений
        <p>
            {{ form.length.label }}
            {{ form.length(size=5) }}
            {% for error in form.lenght.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         #}
        <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <form action="" method="post">
        <hr>
        <h3>Response:</h3>
        <p>
            {# весь JSON-объект
            <b>{{ form.msg_body.label }}:</b>
                {{ msg_body }}
            #}
            <br>
            <br>
            <b>{{ form.msg_text.label }}:</b>
                {{ msg_text }}
            <br>
            <br>
            <b>{{ form.msg_attachments.label }}:</b>
                {{ msg_attachments }}
        </p>
    </form>
{% endblock %}