{% extends "index.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.msg_id.label }}<br>
            {{ form.msg_id(size=32) }}
            {% for error in form.msg_id.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lenght.label }}<br>
            {{ form.lenght(size=5) }}
            {% for error in form.lenght.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>

        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
